
<section id="sobre-nos">
    <div>
        <h2> Sobre nós </h2>
    </div>
</section>
<section id="background-sobre-nos">
</section>

<section class="container">
    <div id="sobre-nos-texto">
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui 
        officia deserunt mollit anim id est laborum."
        </p>

        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui 
        officia deserunt mollit anim id est laborum."
        </p>
    </div>
    </section>
</section>
<footer>
  <div class="container">
    <%= image_tag("whatsapp.png", alt: "whatsapp logo", class:"logo-whatsapp")%>
    <h2>Contate-nos<br> (21)99343-2299</h2>
    <a href="#"><%= image_tag("facebook.png", alt: "facebook logo", class:"logo-facebook")%></a>
  </div>
</footer>