<html>
<body>
    
<section id = "chamada">
        <div class = "container">
            <h1>As melhores pizzas</h1>
            <h2>Na melhor pizzaria caseira</h2>
        </div>
    </section>
    
    <section id = "promocoes">
        <div class="apresentacao">
            <h3>Promoções</h3>
        </div>
        <div class="container">
            <div class="descricao">
                <h1>Não perca essa incrível</h1>
                <h2>promoção do dia</h2>
                <p>Pizza Portuguesa+Ice Tea de Pessego por apenas R$38,50</p>
            </div>
            <div class = "imagem">
                <%= image_tag("pizza_promo.jpg", alt: "promocao da pizza", class:"pizza-promo")%>
            </div>        
            </div>
    </section>

    <section id = "informacoes">
        <div class="apresentacao">
            <h3>Localização</h3>
        </div>
        <div class="container-infos">
            <p>Rua Noronha Torrezão, 102 - Santa Rosa, Niterói</p>
            <p>Aberto todos os dias das 18 horas até meia noite</p>
        </div>
    </section>
    </body>
</html>
<footer>
  <div class="container">
    <%= image_tag("whatsapp.png", alt: "whatsapp logo", class:"logo-whatsapp")%>
    <h2>Contate-nos<br> (21)99343-2299</h2>
    <a href="#"><%= image_tag("facebook.png", alt: "facebook logo", class:"logo-facebook")%></a>
  </div>
</footer>
