/*RESET*/

body, h1, h2, h3, p, ul, navbar{
    padding: 0px;
    margin: 0px;
    display: block;
}

body{
    font-family: 'Lato', serif;
    color: #252525;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}

/*

1-chamada



*/

/*CHAMADA*/

#chamada {
    background: url("marguerita.jpg") no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    background-attachment: fixed;
}

.container h1 {
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    font-size: 3em;
    color: #307347;
    text-shadow: 0px 2px black;
}

.container h2 {
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    color: #307347;
    font-size: 2em;
    text-shadow: 0px 2px black;
}

/*PROMOCOES*/
#promocoes {
    background-color: #D99B66;
}

#promocoes .container p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 0;
}

.imagem {
    
}

.descricao {
    
}

.pizza-promo {
    width: 600px;
}


/*INFORMACOES*/

.apresentacao {
    text-align: center;
    background: #D99C79;
    padding-top: 10px;
    padding-bottom: 5px;

}

.apresentacao h3 {
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2em;
    color: #A64444;
}

#informacoes {
    background-color: #D99B66;
}

.container-infos {
    max-width: 1000px;
    padding: 30px 0;
    margin: 0 auto;
}

.container-infos p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 0;
}