body, h1, h2, h3, p, ul, navbar{
    padding: 0px;
    margin: 0px;
    display: block;
}


body{
    font-family: 'Lato', serif;
    color: #252525;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/* 
1 - navbar
2 - cardapio
3 - produtos-cardapio
4 - pizzas-doces


*/
nav{
    background-color: #A64444;
    margin: 0 auto;
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.125em;
}

nav .logo-pizza{
    float:left;
    padding-top: 30px;
}

nav ul h1{
    color:#307347;
    text-shadow: 0px 2px black;
    font-size: 3em;
    text-transform: uppercase;
}

nav ul{
    text-align: center;
    padding: 10px;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
}
nav ul li:after{
    content: "";
    background-color: #f2f2f2;
    width:0; 
    height: 5px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after{
    width:100%;
}

.cardapio {
    text-align: center;
    background: #D99C79;
    padding-top: 10px;
    padding-bottom: 5px;

}
.cardapio h2{
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2em;
    color: #A64444;
}


.product a{
    color: #307347;
    text-decoration: none;
    font-size: 1.125em;
}


#background-cardapio{
    background: url("pizza-1.jpg") no-repeat center center;
    background-size: cover;
    height: calc(50vh);
    background-attachment: fixed;
}


.product{
    width: 284px;
    height: 170px;
    float: left;
    padding: 20px 10px 20px 20px;   
    border-left: #307347 3px solid;
    margin-right: 15px;
    margin-top: 35px;

}

.product a:after{
    content: "";
    background-color: #A64444;
    width: 0;
    height: 5px;
    display: block;
    transition: 0.3s;
}

.product a:hover{
    width:100%;
    color: #A64444;
}

.product h2{
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    color: #307347;
}

#produtos-cardapio{
    background-color: #D99B66;
}

#background-pizza-doce-fundo{
    background: url("pizza-doce.jpg") no-repeat center center;
    background-size: cover;
    height: calc(50vh);
    background-attachment: fixed;
}

#produtos-cardapio{
    display: flex;
    padding-bottom: 30px;
}

#pizzas-doces{
    background: #D99B66;
    display: grid;
    padding-bottom: 20px;
}


/* sobre nos */
#background-sobre-nos{
    background: url("pizza-2.jpg") no-repeat center center;
    background-size: cover;
    height: calc(50vh);
    background-attachment: fixed;
}

#sobre-nos h2{
    font-family: 'Contrail One', cursive;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2em;
    text-align: center;
    color:#A64444;
}

#sobre-nos div{
    text-align: center;
    background: #D99C78;
    padding-top: 10px;
    padding-bottom: 5px;
}

#sobre-nos-texto p{
    margin: 20px;
    font-size: 1.3em;
}


footer {
    padding: 40px 0 90px 0;
    background: #A64444;
    display: block;

}
footer .logo-facebook{
    float:right;
    margin: 0 10px;
}

footer h2{
    float:left;
    font-size:1.125em;
    margin: 0 15px;
    line-height: 1.4em; 
    color: #f2f2f2;
}   

footer .logo-whatsapp{
    float:left;
}

footer .logo-facebook:hover{
    background: #f2f2f2;
}