
    <nav>
        <div class="container">
            <%= image_tag("pizza.png", alt: "pizza logo", class:"logo-pizza")%>
            <ul>
                <h1> Pizzaria Noronha </h1>
                <li><a href="/">Home</a></li>
                <li><a href="/static_pages/about">Sobre nós</a></li>
                <li><a href="/portfolios">Cardápio</a></li>
            </ul>
        </div>
    </nav>